<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>GroupTitle</key>
			<string>Point of Interest</string>
			<key>Path</key>
			<string>4_PointOfInterest_2_PoiWithLabel</string>
			<key>RequiredFeatures</key>
			<array>
				<string>geo</string>
			</array>
			<key>StartupConfiguration</key>
			<dict>
				<key>camera_position</key>
				<string>back</string>
			</dict>
			<key>Title</key>
			<string>Poi With Label</string>
		</dict>
		<dict>
			<key>GroupTitle</key>
			<string>Point of Interest</string>
			<key>Path</key>
			<string>4_PointOfInterest_3_MultiplePois</string>
			<key>RequiredFeatures</key>
			<array>
				<string>geo</string>
			</array>
			<key>StartupConfiguration</key>
			<dict>
				<key>camera_position</key>
				<string>back</string>
			</dict>
			<key>Title</key>
			<string>Multiple Pois</string>
		</dict>
		<dict>
			<key>GroupTitle</key>
			<string>Point of Interest</string>
			<key>Path</key>
			<string>4_PointOfInterest_4_SelectingPois</string>
			<key>RequiredFeatures</key>
			<array>
				<string>geo</string>
			</array>
			<key>StartupConfiguration</key>
			<dict>
				<key>camera_position</key>
				<string>back</string>
			</dict>
			<key>Title</key>
			<string>Selecting Pois</string>
		</dict>
	</array>
</array>
</plist>
